md-tab-group {
  bottom: 0px;
  width: 100%;
  position: fixed;
  margin-bottom: 0px;
  padding: 0px;
}

.md-tab-label {

}

/*.mat-tab-label {
  color: green;
}*/

.main-tab-menu {
  text-align: center;
  padding: 5%;
}
