md-tab-group {
  bottom: 0px;
  width: 100%;
  position: fixed;
  margin-bottom: 0px;
  padding: 0px;
}

/*.mat-tab-label {
  color: green;
}*/

.main-tab-menu {
 
  padding: 5% 10%;
  text-align: center;
  height: 250px;
}
