<p>
  camera works!
</p>
<button id="left-button" md-raised-button>
  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M20,9V15H12V19.84L4.16,12L12,4.16V9H20Z" />
  </svg>
</button>

<button id="up-button" md-raised-button>
  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M15,20H9V12H4.16L12,4.16L19.84,12H15V20Z" />
  </svg>
</button>

<button id="right-button" md-raised-button>
  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M4,15V9H12V4.16L19.84,12L12,19.84V15H4Z" />
  </svg>
</button>


<button id="down-button" md-raised-button>
  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M10,4H14V13L17.5,9.5L19.92,11.92L12,19.84L4.08,11.92L6.5,9.5L10,13V4Z" />
  </svg>
</button>
