.shopping-item {
    margin: 5px;
}

.shopping-check {
    position: relative;
    right: 10px;
    float: right;
}

#name-input {
    max-width: 150px;
}

#quantity-input {
    max-width: 25px;
}

.item-add {
    width: 100%;
}

#quantity {
    max-width: 60px;
}

#name-input {
    max-width: 200px;
    margin-right: 5px;
}

.my-add-button {
    background-color: #3ddb93;
    position: relative;
    right: -9px;
    top: 4px;
}

.invisible {
    display: none;
}