<!-- <form class="item-add" (ngSubmit)="createNewItem()">
    <label for="name-input">Name</label>
    <input id="name-input" class="input-field" type="text" placeholder="vegetables" [(ngModel)]="formProductName" name="productName">
    <label for="quantity-input">Quantity</label>
    <input id="quantity-input" type="number" placeholder="0" [(ngModel)]="formProductQuantity" name="productQuantity">

    <button md-mini-fab> + </button>
</form> -->
<form class="item-add" (ngSubmit)="createNewItem()">
    <span class="input-field">
        <input id="name" type="text" class="validate" required="true">
        <label for="name">What are you paying for? </label>
    </span>
    <span class="input-field">
        <input id="name" type="text" class="validate" required="true">
        <label for="name">What are you paying for? </label>
    </span>
</form>
<md-card class="shopping-item" *ngFor="let oneItem of myItems" [@itemAnim]>
    <span>{{ oneItem.name}} {{ oneItem.quantity}} {{oneItem._id}}</span>
    <md-checkbox class="shopping-check" (click)="deleteItem(oneItem._id)" [@itemAnim]></md-checkbox>
</md-card>