<md-toolbar id="shopping-header">Shopping List</md-toolbar>
<md-card class="shopping-item">
    <form class="item-add" (ngSubmit)="addItem()">
        <span class="input-field">
            <label for="name-input">Name </label> 
            <input id="name-input" type="text" class="validate" tabIndex="0" required="true"
            [(ngModel)]="formProductName" name="productName" >
        </span>
        <span class="input-field">
            <label for="quantity">Quantity </label>
            <input id="quantity" type="number" class="validate"
             [(ngModel)]="formProductQuantity" name="productQuantity">
        </span>

        <button class="my-add-button" md-raised-button type="submit">
         Add
        </button>
    </form>
</md-card>

<md-card class="shopping-item" *ngFor="let oneItem of myItems">
    <span [@itemAnim]>{{ oneItem.name}} {{ oneItem.quantity}} </span>
    <md-checkbox class="shopping-check" (click)="deleteItem(oneItem)"></md-checkbox>
</md-card>