<!-- <form class="item-add" (ngSubmit)="createNewItem()">
    <label for="name-input">Name</label>
    <input id="name-input" type="text" placeholder="vegetables" [(ngModel)]="formProductName" name="productName">
    <label for="quantity-input">Quantity</label>
    <input id="quantity-input" type="number" placeholder="0" [(ngModel)]="formProductQuantity" name="productQuantity">

    <button md-mini-fab> + </button>
</form> -->
<form (ngSubmit)="makeACard(oneList, i)">
    <input class="card" type="text" placeholder="Add a card..." [(ngModel)]="newCardTitles[i]" name="newListTitle[]">
    <br>
    <button> Save </button>
</form>
<md-input-container>
    <input mdInput value="Disco party!" placeholder="Message" #message>
</md-input-container>

<md-input-container>
    <input mdInput value="Dance" placeholder="Action" #action>
</md-input-container>
<md-card>
    <span>One more</span>
    <md-checkbox class="shopping-check" (click)="onShoppingChecked()"></md-checkbox>
</md-card>
<md-card>
    <span>dummy</span>
    <md-checkbox class="shopping-check"></md-checkbox>
</md-card>

<!-- <input #itemInput (keyup.enter)="addItem(itemInput.value); itemInput.value=''">

<button (click)="addItem(itemInput.value); itemInput.value=''">
  Add
</button> -->

<!-- <ul *ngIf="items">
    <li *ngFor="let item of items" (click)="removeItem(item)" [@itemAnim]>{{ item }}</li>
</ul> -->