.shopping-item {
    margin: 5px;
}

.shopping-check {
    position: relative;
    right: 20px;
    float: right;
}

#name-input {
    max-width: 150px;
}

#quantity-input {
    max-width: 25px;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: black;
}


/* label underline focus color */

.input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(66, 133, 244);
    box-shadow: 0 1px 0 0;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: rgb(66, 133, 244);
}


/* label underline focus color */

.input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(66, 133, 244);
    box-shadow: 0 1px 0 0;
}

.item-add {
    width: 100%;
}

#quantity {
    max-width: 50px;
}

#name-input {
    max-width: 180px;
    margin-right: 5px;
    color: rgb(66, 133, 244);
}

.my-add-button {
    background-color: rgb(66, 133, 244);
    color: white;
    position: relative;
    max-width: 25px;
    right: -9px;
    top: 4px;
}

.invisible {
    display: none;
}

#shopping-header {
    background-color: lightblue;
    /* padding: 25px 50px 25px 50px;
    border-radius: 10px; */
}

.quantity {
    box-sizing: border-box;
    border: 1px solid black;
}