.shopping-item {
    margin: 5px;
}

.shopping-check {
    position: fixed;
    right: 40px;
}

#name-input {
    max-width: 150px;
}

#quantity-input {
    max-width: 25px;
}

.item-add {
    width: 100%;
}

:host /deep/ .mat-input-placeholder {
    font-size: 2em;
}