<md-toolbar color="black">
  <span>SmartStead</span>
  <!-- <span class="spacer"></span> -->
  <button md-button class="main-menu-icon" [mdMenuTriggerFor]='appMenu'>
    <md-icon>menu</md-icon>
  </button>
  <md-menu #appMenu="mdMenu">
    <button md-menu-item>
      <md-icon>fingerprint</md-icon>
      <span>Log In</span>
    </button>
    <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Settings</span>
    </button>
    <button md-menu-item>
      <md-icon style="color:red">close</md-icon>
      <span style="color:red">Log Out</span>
    </button>
  </md-menu>
</md-toolbar>
<app-side-menu></app-side-menu>
<!-- <app-ac></app-ac> -->
<!-- <div class="md-content" flex md-scroll-y (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)">

   <md-tab-group md-stretch-tabs [(selectedIndex)]="selectedIndex" (selectedIndexChange)="selectChange()">
           <md-tab>
              (...) //Content Tab 1
           </md-tab>
           <md-tab>
              (...) //Content Tab 2
           </md-tab>
   </md-tab-group>
</div> -->
<app-tabs></app-tabs>
