<h4 class="head-title">Log In</h4>
<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
<md-card class="login">
    <form (ngSubmit)="submitLogin()">

        <span class="input-field">
            <label for="email-input"> Email </label>
            <input id="email-input" type="email" [(ngModel)]="formEmail" name="formEmail" required email>
         
        </span>
        <br>
        <!-- <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M10,2H14L13.21,9.91L19.66,5.27L21.66,8.73L14.42,12L21.66,15.27L19.66,18.73L13.21,14.09L14,22H10L10.79,14.09L4.34,18.73L2.34,15.27L9.58,12L2.34,8.73L4.34,5.27L10.79,9.91L10,2Z" />
            </svg> -->
        <span class="input-field">
            <label for="password-input">Password</label>
            <input id="password-input" type="password" [(ngModel)]="formPassword" name="formPassword">
        </span>


        <button md-raised-button class="login-button"> Log In </button>
    </form>
</md-card>

<!-- <div class="container topPad">
    <form (ngSubmit)="onSubmit()" class="login-form form" novalidate>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input #userEmail type="text" formControlName="email" placeholder="Email" class="form-control">
        </div>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Please enter a valid email format</div>
        <span class="help-block"></span>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" formControlName="password" placeholder="Password" class="form-control">
        </div>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password must contain 6 or more characters</div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!myForm.valid">Login</button>
        <p class="message"><a [routerLink]="'/user/reset'">Lost password?</a></p>
    </form>
</div> -->