.md-input-container {
    style: none;
}

.login-button {
    background-color: blue;
    color: white;
    width: 140px;
    margin-left: 50px;
}

#email-input {
    max-width: 200px;
}

.login {
    padding-left: 75px;
}

#password-input {
    max-width: 200px;
}

.login-input {
    margin-left: 50px;
}

.md-card {
    z-index: 2;
}

.error {
    background-color: mistyrose;
    border: 1px solid red;
    border-radius: 5px;
    max-width: 150px;
    min-height: 10px;
    text-align: center;
    margin-left: 50px;
}

.head-title {
    margin-left: 140px;
}