<h3> Log In </h3>

<p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p>
<form #UserLogin="ngForm" (ngSubmit)="submitLogin()">
<md-input-container>
    <input mdInput [(ngModel)]="formEmail" name="email" placeholder="E-mail" class="form-control"  type="text" required>
</md-input-container>

<md-input-container>
    <input mdInput [(ngModel)]="formPassword" name="password" class="form-control" placeholder="Password" type="password" required>
</md-input-container>

<button md-button class="submit-btn">Login!</button>
</form>

<!-- <form (ngSubmit)="submitLogin()">
  <md-input-container>
    <input mdInput  type="email" placeholder="E-MAIL"
        [(ngModel)]="formEmail" name="formEmail">
  </md-input-container>
  <md-input-container>
    <input mdInput type="password" placeholder="PASSWORD"
        [(ngModel)]="formPassword" name="formPassword">
  </md-input-container>
  <button md-raised-button>Log In</button>
</form> -->


<!-- <form (ngSubmit)="submitLogin()">
  <label for="email-input"> Email </label>
  <input mdInput id="email-input" type="email" placeholder="blah@example.com"
      [(ngModel)]="formEmail" name="formEmail">
  <br>

  <label for="password-input"> Password </label>
  <input mdInput id="password-input" type="password" placeholder="*****"
      [(ngModel)]="formPassword" name="formPassword">
  <br>

  <button> Log In </button>
</form> -->
