.example-container {
  width: auto;
  height: 400px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.sidenav {
  width: 120px;
  opacity: 0.6;
}

.btn-sidemenu {
  background-color: #00abff;
  width: 120px;
  opacity: 0.6;

}
